<div class="d-flex flex-column align-items-center">
  <h2>RxJs</h2>
  <p>RxJS (Reactive Extensions for JavaScript) is a library for handling asynchronous programming using Observables.</p>
  <p> It helps you work with data streams such as API calls, user events, timers, WebSockets, etc., in a more powerful,
    flexible, and cleaner way.</p>

  <div class="d-flex justify-content-evenly ">
    <a class="btn btn-success me-2" [routerLink]="['/observable']">Observable</a>
    <a class="btn btn-success me-2" [routerLink]="['/subscription']">Subscription</a>
    <a class="btn btn-success me-2" [routerLink]="['/operators']">Operators</a>
    <a class="btn btn-success me-2" [routerLink]="['/subject']">Subject</a>
  </div>
</div>