<div class="d-flex justify-content-between">
<h3>{{ isEditMode ? 'Edit Product' : 'Add Product'}}</h3>
<a [routerLink]="['/product/list']" routerLinkActive="active" class="btn btn-outline-success">Product List</a>
</div>
<!-- form -->
<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" novalidate>

  <input type="hidden" name="id" [(ngModel)]="product.id" #id="ngModel" />

  <div>
    <label for="name">Name*</label><br>
    <input type="text" name="name" [(ngModel)]="product.name" #name="ngModel" placeholder="Name" required>
    <div *ngIf="name?.hasError('required') && name?.touched" class="validation">Name is
      Required.</div>
  </div>
  <br>

  <div>
    <label for="category">Category*</label><br>
    <select id="category" [(ngModel)]="product.categoryId" #categoryId="ngModel" name="categoryId" required>
      <option [ngValue]="null">Select Category</option>
      <option *ngFor="let cat of categories" [ngValue]="cat.id">{{ cat.name }}</option>
    </select>
    <div *ngIf="categoryId.touched && categoryId?.invalid" class="validation">
      <small *ngIf="categoryId?.errors?.['required']">Select a Category.</small>
    </div>
  </div>
  <br>

  <div>
    <label for="price">Price*</label><br>
    <input type="number" name="price" id="price" [(ngModel)]="product.price" #price="ngModel" required min="0.01">
    <div *ngIf="price.invalid && price.touched" class="validation">
      <div *ngIf="price.errors?.['required']">Price is required.</div>
      <div *ngIf="price.errors?.['min']">Price must be greater than 0.01.</div>
    </div>
  </div>
  <br>

  <div>
    <label for="description">Description </label><br>
    <textarea name="description" id="description" [(ngModel)]="product.description" #description="ngModel"
      placeholder="Description"></textarea>
  </div>
  <br>

  <div>
    <label for="stock">stock</label><br>
    <input type="number" id="stock" name="stock" [(ngModel)]="product.stock" #stock="ngModel"
      min="0" placeholder="stock">
    <div *ngIf="stock.invalid && stock.touched" class="validation">
      <div *ngIf="stock.errors?.['min']">Stock must be positive.</div>
    </div>
  </div>
  <br>

  <div>
    <div *ngIf="product.imagePath">
      <label>Current Image:</label><br />
      <app-reusable-image-component [imgSrc]="imageBaseUrl + product.imagePath" imgAlt="Product image" [imgHeight]="50" [imgWidth]="50"></app-reusable-image-component>
      <!-- <img [src]="imageBaseUrl + product.imagePath" alt="Product image" height="50" width="50" /> -->
    </div>
    <label for="imageFile">Image</label><br>
    <input type="file" id="imageFile" name="imageFile" ngModel #imageFile="ngModel"  (change)="onImageChange($event)" >
    <div class="error" *ngIf="imageFile.touched" class="validation">
      <div *ngIf="imageFile.touched && isInvalidImage">Product image should be in form of PNG, JPG, JPEG.</div>
    </div>
    <!-- preview -->
    <div *ngIf="previewUrl">
      <label>Preview:</label><br />
      <app-reusable-image-component [imgSrc]="previewUrl" imgAlt="Preview" [imgHeight]="50" [imgWidth]="50"></app-reusable-image-component>
      <!-- <img [src]="previewUrl" alt="Preview" height="50" width="50"> -->
    </div>
  </div>
  <div>
    <app-reusable-button-component (clicked)="removeImage()" btnClass="btn btn-outline-danger" label="Remove Image" type="button">
    </app-reusable-button-component>
    <!-- <button type="button" (click)="removeImage()" class="btn btn-outline-danger">Remove Image</button> -->
  </div>
  <br>

  <div>
    <label for="iaActive">IsActive</label><br>
    <input type="checkbox" id="isActive" name="isActive" class="form-check-input" [(ngModel)]="product.isActive">
  </div>
  <br>


  <!-- Submit Button -->
  <app-reusable-button-component  btnClass="btn btn-success" [label]="isEditMode ? 'Update Product' : 'Add Product'" type="submit">
  </app-reusable-button-component>
  <!-- <button type="submit" class="btn btn-success">
    {{ isEditMode ? 'Update Product' : 'Add Product' }}
  </button> -->
  <input type="reset" value="reset" *ngIf="!isEditMode" (click)="onResetForm(productForm)" class="btn btn-danger">
  <br>

</form>