<div class="p-3">
  <h2>Subscription & Subscriber Demo</h2>
  <p><strong>Subscription: </strong>A Subscription represents the execution of an Observable. <br> Subscription is the result of calling subscribe() on an Observable. It lets you stop the Observable using unsubscribe().</p>
  <p><strong>Subscriber: </strong> The actual execution created when you call subscribe(). <br>Is created FROM the Observer when you call .subscribe(observer)</p>
  <br>
  <button (click)="startsubscription()" class="btn btn-success">Run Subscription</button>
  <br><br>
  <div class="output" *ngIf="output">
    <h4>Output:</h4>
    <pre [innerHTML]="output"></pre>
  </div>
</div>