
.box {
  background: #f3f3f3;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.output {
  background: black;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}
